@model AndroidShowcase.WebUI.Models.ProductsViewModel

@{
    ViewBag.Title = "Products";
}

<h3>Products</h3>
<button class="btn btn-sm btn-success pull-right btn-circle marginRight glyphicon glyphicon-plus hidden-xs" data-role="new" data-toggle="modal" data-target="#productDialog"></button>  
<hr class="inlineBlock title-separator"/>

<table class="productTable">
    <thead>
        <tr>
            <th class="nameColumn">Name</th>
            <th class="descriptionColumn">Description</th>
            <th class="costColumn">Cost</th>
        </tr>
    </thead>
    <tbody id="productlist">
        @Html.Partial("ProductList", Model.Products)
    </tbody>
</table>

<script src="~/Scripts/product.js?ver=1.5"></script>


