@model AndroidShowcase.WebUI.Models.ProductsViewModel

@{
    ViewBag.Title = "Products";
}

<h3>Products</h3>

<hr class="title-separator"/>

<table class="productTable">
    <thead>
        <tr>
            <th class="nameColumn">Name</th>
            <th class="descriptionColumn">Description</th>
            <th class="costColumn">Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Products)
        {
            @Html.Partial("ProductRow", p)
        }
    </tbody>
</table>


