@using AndroidShowcase.Business.Entities
@model Product

<tr data-productid=@Model.ProductId data-userid="@Model.UserId">
   <td>@Model.Name</td>
   <td>@Model.Description</td>
   <td>@Model.Cost</td>
   <td>
       <button data-role="edit" class="btn btn-sm btn-warning">Edit</button>    
   </td>
   <td>
        <button data-role="delete" class="btn btn-sm btn-link">Delete</button> 
   </td>
</tr>

